extends layout_2

block content
  .uk-container.uk-container-center.center.uk-vertical-align.uk-height-1-1
    .intro.transparent.uk-vertical-align-middle.splash-message
      h1 Give your photos a bit of style!
      p 
        | Curious how your photos would look like if painted by Van Gogh, Munch, or Picasso? 
        | Utilising #[a(href="https://github.com/jcjohnson/neural-style") neural networks], you can now find out! 
        | What are you waiting for?
      a.uk-button.uk-button-primary.main-button(href='/upload') Make Your Own!

  script.
    $("#slideshow > div:gt(0)").hide();

    setInterval(function() { 
      $('#slideshow > div:first')
        .fadeOut(5000)
        .next()
        .fadeIn(100)
        .end()
        .appendTo('#slideshow');
    },  10000);

    //- function fadeRepeat(){
    //-   $img = $('#original_image');
    //-   $img.fadeOut(5000, function(){
    //-     setTimeout(function(){
    //-       $img.fadeIn(5000, function(){setTimeout(fadeRepeat, 5000);});
    //-     }, 5000);
    //-   });
    //- }
    //- setTimeout(fadeRepeat, 5000);
