extends layout

block content
  form(action="/api/job", method="post", enctype="multipart/form-data")
    p Email
    input(type="email", required, name="email")
    p Content Image
    input(type="file", name="content_image", accept="image/*")
    p Style Image
    input(type="file", name="style_image", accept="image/*")
    p Public?
    input(type="checkbox" name="isPublic")
    br
    button(type="submit", role="submit") Submit
