extends layout

mixin cloudImageCover(image)
  .slide(style='background:url("http://neural-style.s3-website-us-east-1.amazonaws.com/#{image}")')

mixin cloudImageLazyLoad(image)
  .slide(data-src="http://neural-style.s3-website-us-east-1.amazonaws.com/#{image}")

block content
  .uk-container.uk-container-center.center.container-white
    .intro
      h1 Happy Viewing
      p Here are some examples of stylised images. Hover over the pictures to view original and style photos.
    .uk-flex-middle.uk-flex.uk-flex-wrap.uk-flex-space-around
      each job, index in jobs
        .img-slideshow
          +cloudImageLazyLoad(job.content_image)
          +cloudImageLazyLoad(job.style_image)
          +cloudImageCover(job.final_image)
