doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/uikit.almost-flat.min.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
    link(href='https://fonts.googleapis.com/css?family=Hind+Vadodara:300,700,500', rel='stylesheet', type='text/css')
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/react_styles.css')
  body.main-color
    .content#app

    //- footer.main-color
    //-   .uk-container.uk-container-center
    //-     .uk-width-1-1
    //-       p Contact <a href="mailto:jasperdegens@gmail.com">Jasper Degens</a> with any questions
    script(src='http://localhost:8000/javascripts/bundle.js')
