html, body, #app{
  height: 100%;
}

body{
  background: #222;
  margin: 0;
}

body, h1, h2, h3, h4, h5, h6, p, a{
  font-family: 'Hind Vadodara', sans-serif;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 99;
}

footer > p{
  margin: 5px;
  font-size: 14px;
  color: white;
}

footer > p > a{
  text-decoration: none;
  color: #00bcd4;
}

footer > p > a:hover{
  color: #222;
}

/***** Background Slideshow CSS ****/
.slide-leave {
  opacity: 1;
}

.slide-leave.slide-leave-active {
  opacity: 0.01;
  transition: opacity 2000ms ease-in;
}

/******** Welcome Screen Responsive CSS *******/
.welcomeButtons>a:first-child>div{
  margin-right: 30px;
}

@media (max-width: 400px) {
  .welcomeButtons>a>div:first-child{
    margin-right: 0;
    margin-bottom: 10px;
  }
}


/***** Img Upload Box CSS ********/
.drop-area{
  margin: 0 auto;
  width: 230px;
  background-color: transparent;
  border: 1px solid #999;
  min-height: 140px;
  padding: 36px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.preview{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover !important;
  background-position: center;
  opacity: 0;
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}

.closeButton{
  color: #eee;
  font-size: 20px;
  position: absolute;
  right: 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 #222;
  top: 5px;
  cursor: pointer;
}

.closeButton:after{
  content: 'x';
}

.preview.active{
  opacity: 1;
  z-index: 99;
}

.file-input{
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file-input input{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.drop-description h4{
  margin-top: 0;
}