/****** HEADER STYLES ****/
header {
  padding-top: 45px;
  border-bottom: 8px solid #193441; }

.title h1 {
  margin-bottom: 0px; }

.title p {
  margin-top: 0px;
  margin-bottom: 10px !important;
  font-style: italic;
  color: #AAA; }

.uk-navbar {
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: transparent;
  border: none; }

/****** FOOTER STYLES ****/
footer {
  background-color: #3E606F;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center; }

footer * a {
  color: #8CC14C; }

.content {
  background-color: #3E606F;
  min-height: 100%;
  margin-bottom: -115px; }

/* for footer display */
.content:after {
  content: "";
  display: block; }

footer, .content:after {
  height: 115px; }

/****** GLOBAL STYLES *****/
html, body {
  height: 100%;
  width: 100%; }

body, h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Hind Vadodara', sans-serif; }

.uk-container {
  max-width: 950px; }

.relative {
  position: relative; }

.container-white {
  background-color: #FFF; }

.text-white {
  color: #FFF; }

.center {
  text-align: center; }

.intro {
  padding: 30px 50px;
  display: inline-block;
  max-width: 600px;
  text-align: left; }

.intro h1 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 0px; }

.intro p {
  font-weight: 300;
  line-height: 23px;
  margin-top: 0px; }

.padding-bottom {
  padding-bottom: 40px; }

.align-right {
  margin-left: auto; }

/******* FORM STYLES ******/
.drop-area {
  background-color: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #AAA;
  max-width: 230px;
  min-height: 140px;
  padding: 36px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.preview {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover !important;
  background-position: center;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.preview.active {
  opacity: 1;
  z-index: 99; }

.file-input {
  position: relative;
  overflow: hidden;
  display: inline-block; }

.file-input input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

.drop-description h4 {
  margin-top: 0; }

.form-field-container {
  padding: 30px 0px;
  max-width: 400px;
  text-align: left;
  margin-left: auto;
  margin-right: auto; }

.uk-form-label {
  text-align: right;
  width: 180px !important; }

input[type=checkbox] {
  margin-top: 9px !important; }
